
.about {
    padding-top: 94px;
    padding-bottom: 94px;
}
.about__title {
    @include font (Roboto, 700, 36px, 1.16, 0.03em);
    margin: auto;
    text-align: center;
}
.about__list {
    display: flex;
    margin-top: 50px;
}
.about__item {
    position: relative;
    margin-right: 30px;
}
.about__before {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 224px;
    right: 0;
    height: 70px;
    width: 370px;
    background: $labelColor;
}
.about__before-title {
    font-family: 'Roboto';
    font-style: normal;
    color: $simpleColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 0.8;
    text-align: center;
}