body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Raleway' sans-serif;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    }
[class*="__container"] {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width:480px) {
    width: 480px;
  }
  @media screen and (max-width:768px) {
    display: none;
  }
  @media screen and (max-width:1600px) {
    width: 1600px;
  }
}
ul {
      padding-inline-start: 0;
      margin-inline-start: 0;
      margin-block-start: 0;
      margin-block-end: 0;
    }
a {
      text-decoration: none;
    }
li {
      list-style-type: none;
    }
h1, h2, h3 {
      margin-block-start: 0;
      margin-block-end: 0;
    }
p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
button {
      border: none;
    }
textarea {
      resize: none;
    }

