.header {
    display: flex;
    align-items: center;

}
.header__border {
border-bottom: 1px solid $border-headerColor;
}
.header__container {
    display: flex;
    height: 80px;
    flex-wrap: wrap;
    align-content: center;
}
.main-nav {
    display: flex;
    
}
.current {
    color: $basicColor;
}
.menu__link.current::after {
display: block;
position: absolute;
background-color: $basicColor;
height: 4px;
width: 100%;
margin-top: 28px;
border-radius: 2px;
content: "";
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__title {
    @include font (Raleway, 700, 26px, 1.15, 0.03em);
    margin-right: 93px;
    color: $titleColor;
}
.main-nav__logo {
    @include font (Raleway, 700, 26px, 1.15, 0.03em);
    color: $basicColor;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.menu__list :last-child {
    margin-right: 0;
}
.menu__item {
    display: flex;
    margin-right: 50px;
}
.menu__link {
    @include font (Roboto, 500, 14px, 1.14, 0.02em);
    position: relative;
    color: $titleColor;
    &:hover, &:focus {
        color: $basicColor;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.main-nav__contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.mail {
    @include font (Roboto, 500, 14px, 1.14, 0.02em);
    margin-right: 30px;
    color: $nameColor;
   &:hover, &:focus {
        color:$basicColor;
        fill:$basicColor;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
}
.tel {
    @include font (Roboto, 500, 14px, 1.14, 0.02em);
    margin-right: 30px;
    color: $nameColor;
    &:hover, &:focus {
        color:$basicColor;
        fill: $basicColor;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.tel__icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
}