.team {
    display: flex;
    background-color: $btn-Color;
    align-content: center;
    margin: 0 auto;
    padding: 94px 0;
}
.team__title {
    @include font (Roboto, 700, 36px, 1.16, 0.06em);
    margin: auto;
    text-align: center;
}
.team__list {
    margin-top: 50px;
}
.team__item {
    background: $simpleColor;
    float: left;
    margin-right: 30px;
    text-align: center;
    box-shadow: $team-shadowColor;
    border-radius: 0px 0px 4px 4px;
}
.team__item :last-child {
    margin-right: 0;
}
.team__about {
    padding-top: 30px;
}
.team__about-title {
    @include font (Roboto, 500, 16px, 1.18, 0.03em);
    color: $titleColor;
}
.team__about-profecion {
    @include font (Roboto, 400, 16px, 1.18, 0.03em);
    color: $nameColor;
    margin-top: 10px;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 206px;
    height: 44px;
    margin: 16px 32px 30px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ellipse {
    text-align: center;
    width: 44px;
    height: 44px;
    border-radius: 50px/50px;
    margin-right: 10px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, &:focus {
        background-color: $basicColor;
        fill: $simpleColor;
    }
    &:hover .social-logo {
        fill: $simpleColor;
    }
    &:focus .social-logo {
        fill: $simpleColor;
    }
}
.social-logo {
    fill: $clientColor;
    width: 20px;
    height: 20px;
    margin: 12px auto;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}