$simpleColor: #ffffff;
$basicColor: #2196F3;
$labelColor: rgba(47, 48, 58, 0.8);
$nameColor: #757575;

$backdropColor: rgba(0, 0, 0, 0.2);
$blackColor: #000000;
$titleColor: #212121;
$commentColor: rgba(117, 117, 117, 0.5);

$btn-Color: #F5F4FA;
$clientColor: #AFB1B8;
$footerColor: #2F303A;
$infoColor: rgba(255, 255, 255, 0.6);

$border-headerColor: #ECECEC;
$border-portfColor: #EEEEEE;
$shadowColor: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$portf-afterColor: rgba(33, 150, 243, 0.9);
$team-shadowColor: 0px 1px 3px rgba(0, 0, 0, .12%), 0px 1px 1px rgba(0, 0, 0, .14%), 0px 2px 1px rgba(0, 0, 0, .20%);
$hover-btnColor: #188CE8;